.neumorphism-button {
  padding: 6px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f7f9fc;
  background-color: #d61361;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 
    -5px -5px 10px rgba(166, 158, 158, 0.8), 
    5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.neumorphism-button:hover {
  box-shadow: 
    -1px -1px 5px rgba(98, 94, 94, 0.6), 
    1px 1px 5px rgba(0, 0, 0, 0.3), 
    inset -2px -2px 5px rgb(97, 94, 94), 
    inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: black;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.brand-name {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 2px;
  color: #1FBAB6;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.toggle-button {
  display: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}

.slide-tabs-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.slide-tabs {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  border-radius: 9999px;
  margin-top: 10px;
  border: 2px solid rgb(123, 11, 242);
  background-color: transparent;
  padding: 0.25rem;
}

.tab-item {
  position: relative;
  z-index: 10;
  display: block;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: difference;
}

.tab-cursor {
  position: absolute;
  z-index: 0;
  height: 1.75rem;
  border-radius: 9999px;
  background: linear-gradient(to right, #7c3aed, #4f46e5);
}

@media (max-width: 768px) {
  .toggle-button {
    display: block;
    color: #1FBAB6;
  }

  .slide-tabs-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .slide-tabs-container.open {
    max-height: 500px;
  }

  .slide-tabs {
    flex-direction: column;
    align-items: center;
  }

  .tab-item {
    padding: 0.5rem 1rem;
  }

  .tab-cursor {
    display: none;
  }
}

.header, .neumorphism-button {
  height: 100%;
}
