body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.responsive-container {
  padding-left: var(--img-padding);
  padding-right: var(--img-padding);
}

@media (max-width: 768px) {
  .responsive-container {
    padding-left: 1rem; 
    padding-right: 1rem;
  }

  .relative {
    height: 100vh; 
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.inline-image {
  display: inline !important;
}
